@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
   --cor-stroke: #EDD8F3;
   --cor-bg: #F9F0FC;
   --cor-branco: #FFFFFF;
   --cor-aviso: #FFC400;
   --cor-erro: #DB2525;
   --cor-sucesso: #51C421;
   --cor-texto: #454545;
   --cor-destaque: #E76316;
   --cor-primaria: #5F1478;
   --cor-secundaria: #AE276F;
   font-family: Quicksand;
}

html {
   background: #F6F4F6;
   height: 100%;
}

body {
   padding: 0;
   margin: 0;
}

button,
span {
   font-family: Quicksand;
}

*::-webkit-scrollbar {
   width: 5px;
}

*::-webkit-scrollbar-track {
   background: rgba(255, 0, 0, 0);
   /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
   background-color: rgb(120, 118, 131);
   /* color of the scroll thumb */
   border-radius: 20px;
   /* roundness of the scroll thumb */
   border: 3px solid var(--cor-destaque);
   /* creates padding around scroll thumb */
}